body {
    background-color: #333547;
    margin: 50px 0;
    text-align: center;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(255, 246, 211);
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    padding: 0;
    margin: 10px auto 0;
    position: relative;
    z-index: 2;
    height: 0;
    background-color: black;
    text-shadow: 1px 1px 1px #2c1a01;
    width: 100%;
    background-clip: text;
}

h1 strike {
    text-decoration: none;
      position: relative;
  }
  
h1 strike::before{
      content: "";
      width: 50%;
      position: absolute;
      right: 8px;
      top: calc(50% - 3px);
      border-bottom: 4px solid rgb(255, 246, 211);
  }

h1 sup {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 15px;
}

#device {
    padding: 0;
    background-color: rgb(173, 41, 41);
    max-width: 640px;
    min-height: 256px;
    border-radius: 28px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#screen {
    margin: 50px 60px;
    width: 100%;
    min-height: 32px;
    position: relative;
}
#pixels {
    display: flex;
    flex-wrap: wrap;
    background-color: #cecece;
}

#screen-borders {
    box-sizing: border-box;
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-width: 20px;
    border-color: rgb(173, 41, 41);
    border-radius: 30px;
    border-style: solid;
    z-index: 1;
}

#knobs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    margin-top: -45px;
    margin-bottom: 30px;
    height: 70px;
}

.knob {
    height: 90px;
    width: 90px;
    margin: 0 12px;
    background-color: #cecece;
    border-radius: 50%;
    border-style: dotted;
    border-color: #dfdfdf;
    border-width: 5px;
    box-sizing: border-box;
}

.knob-overlay {
    position: absolute;
    height: 90px;
    width: 90px;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 50%;
    border-style: dotted;
    border-color: #b9b9b9;
    border-width: 5px;
    box-sizing: border-box;
    transform: rotate(5deg);
}

.pixel .on {
    background-color: black;
}

#debug {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 256px;
    margin: 50px auto;
    flex-wrap: wrap;
    border: 2px solid;
    border-radius: 10px;
    justify-content: center;
}

#debug h2 {
    margin: -12px 100px 10px;
    padding: 0 6px;
    background-color: #333547;
}

#debug button {
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #000000;
    border: 0;
    color:#333547;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}

#debug dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
    font-size: 14px;
}

#debug dt {
    margin: 0;
    padding: 0;
    width: 60%;
    text-align: right;
}

#debug dd {
    margin: 0;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: 40%;
    text-align: left;
}