body {
    background-color: #333547;
    margin: 50px 0;
    text-align: center;
}

h1.top-header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(255, 246, 211);
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    padding: 0;
    margin: 10px auto 0;
    position: relative;
    z-index: 2;
    height: 0;
    background-color: black;
    text-shadow: 1px 1px 1px #2c1a01;
    width: 100%;
    background-clip: text;
}

h1.top-header strike {
    text-decoration: none;
      position: relative;
  }
  
h1.top-header strike::before{
      content: "";
      width: 50%;
      position: absolute;
      right: 8px;
      top: calc(50% - 3px);
      border-bottom: 4px solid rgb(255, 246, 211);
  }

h1.top-header sup {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    font-size: 15px;
}

#device {
    padding: 0;
    background-color: rgb(173, 41, 41);
    max-width: 640px;
    min-height: 256px;
    border-radius: 28px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#screen {
    margin: 50px 60px;
    width: 100%;
    min-height: 32px;
    position: relative;
}
#pixels {
    display: flex;
    flex-wrap: wrap;
    background-color: #cecece;
}

#screen-borders {
    box-sizing: border-box;
    position: absolute;
    top: -20px;
    left: -20px;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    border-width: 20px;
    border-color: rgb(173, 41, 41);
    border-radius: 30px;
    border-style: solid;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


#screen-pause {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: none;
}

#screen-pause h1 {
    font-size: 56px;
    font-weight: bold;
    margin: 0 auto;
}

#screen-pause h2 {
    font-size: 12px;
    font-weight: normal;
    vertical-align: middle;
    height: 20px;
}

#screen-area {
    position: absolute;
    z-index: 99;
}

#knobs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    margin-top: -45px;
    margin-bottom: 30px;
    height: 70px;
}

.knob {
    height: 90px;
    width: 90px;
    margin: 0 12px;
    border-radius: 50%;
    background: radial-gradient(
        circle at 50% 50%, #b1b1b1, #e7e7e7 53%, #747474 90%)
}

.knob-overlay {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    filter: opacity(0.45);
    /* border-style: dotted;
    border-width: 5px; */
    box-sizing: border-box;
}

.knob-overlay-a {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23dfdfdf' stroke-width='20' stroke-dasharray='3%2c6' stroke-dashoffset='5' stroke-linecap='butt'/%3e%3c/svg%3e");
    clip: rect(0px, 90px, 60px,0);
}
.knob-overlay-b {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23b9b9b9' stroke-width='20' stroke-dasharray='3%2c6' stroke-dashoffset='5' stroke-linecap='butt'/%3e%3c/svg%3e");
    clip: rect(35px,90px,auto,25px);
}

.pixel .on {
    background-color: black;
}

#knob-left:after, #knob-right:after {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #A3A3A3;
}

#knob-left:after {
    content: '\274C\fe0e';
    width: 90px;
    height: 87px;
}

#knob-right:after {
    content: '\1F503\fe0e';
    width: 100px;
    height: 87px;
    transform: rotate(-90deg);
}

#debug {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    width: 320px;
    margin: 50px auto;
    flex-wrap: wrap;
    border: 2px solid;
    border-radius: 10px;
    justify-content: center;
}

#debug h2 {
    margin: -12px 100px 10px;
    padding: 0 6px;
    background-color: #333547;
}

#debug button {
    margin: 5px 0;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: #000000;
    border: 0;
    color:#333547;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: bold;
}

#debug hr {
    width: 100%;
    height: 0;
    border: none;
    margin: 0;
}

#debug dl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 10px;
    font-size: 14px;
}

#debug dt {
    margin: 0;
    padding: 0;
    width: 55%;
    text-align: right;
}

#debug dd {
    margin: 0;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: 45%;
    text-align: left;
}